{% extends 'master' %}

{% block content %}
<h1>Versenyző Módosítása</h1>

{% if old('errors') %}
<div class="alert alert-danger" role="alert">
    <ul>
    {% for error in old('errors') %}
    <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form class="form-horizontal" action="/competitor/{{ competitor.id }}/edit" method="POST">
  {{ csrfField }}
  
  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Keresztnév</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Keresztnév" value="{{ competitor.firstname }}">
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Vezetéknév</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="laststname" name="laststname" placeholder="Vezetéknév" value="{{ competitor.laststname }}">
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Győzelmek</label>
    <div class="col-lg-10">
      <input type="number" class="form-control" id="wins" name="wins" placeholder="0" value="{{ competitor.wins }}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Versenyző mentése</button>
      <a class="btn btn-default" href="/competitor/{{ competitor.id }}" role="button">Vissza</a>
    </div>
  </div>
</form>

{% endblock %}