{% extends 'master' %}

{% block content %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <!-- List group -->
            <ul class="list-group">
                {% for match in matches %}
                <li class="list-group-item">
                    <a href="/match/{{ match.id }}">{{ match.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

</div>
{% endblock %}